@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body,html {
    height: 100%;
    overflow: auto; 
  }
  
  *,body,h1,h2,h3,h4,h5,h6,h7 {
    font-weight: 500;
  }
  
  button:disabled {
    border: none;
    background-color: #efefef;
    color: #9c9c9c;
    border: none;
    /* cursor: no-drop */ ;
    cursor: default ;
  }
  button:disabled:active {
    filter: none;
  }
  
  button,fieldset,frameset,iframe,table,td,th {
    border: 0;
  }
  
  input,select {
    vertical-align: middle;
  }

  input[type=file] {
    display:none;
  }
  
  * {
    line-height: normal;
    font-family: "Pretendard Variable", "Noto Sans KR",sans-serif,"돋움",Dotum;
  }
  
  body {
    line-height: normal;
    color: #5f5f5f !important ;
    font-family: "Pretendard Variable", "Noto Sans KR",sans-serif,"돋움",Dotum;
  }
  
  .member_area .member a.name,.search_input_area .auto_complete dt,button,input {
    font-family: "Pretendard Variable", "Noto Sans KR",sans-serif;
  }
  
  body * {
    box-sizing: border-box;
  }
  
  img {
    border: none;
  }
  
  dd,dl,dt,li,ol,ul {
    list-style: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td,th {
    word-break: break-all;
    line-height: 150%;
  }
  
  /* Bootstrap과 충돌함 */
  /*
  hr,legend {
    display: none ; 
  }
  */

  iframe {
    width: 100%;
  }
  
  address,em,i {
    font-style: normal;
  }
  
  blockquote,q {
    quotes: none;
  }
 

  /* 동기화 필요작업 2025.04.22 */ 
  input,select,textarea {
    outline: none !important;
    box-shadow: none !important;
  }

  input:focus, select:focus, textarea:focus {
    outline: none !important;
  }
  
  
/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
  width: 8px !important; /* 세로 스크롤바 폭 */
  height: 8px !important; /* 세로 스크롤바 폭 */
  background: transparent !important;
}

::-webkit-scr

/* 스크롤바 트랙(배경) */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* 스크롤바 썸(막대) */
::-webkit-scrollbar-thumb {
  background: #e8e8e8 !important;
  border-radius: 10px !important;
  border: none !important;
}

/* 스크롤바 위아래 화살표(버튼) 숨기기 */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
}

.text-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gray-label {
  font-size: 13px;
  color: var(--hs-color-gray) ;
}