.navlink-active { color: #ff5050 !important; }

p.page-title { font-size:1.5em; }

dt.list-style-disc {
    list-style: disc; 
    padding: 3px;
    text-indent: 5px;
}

/* BootStrap CSS */
hr.dropdown-divider { display: inherit; }
  
.dropdown-item.active, .dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: var(--bs-dropdown-link-active-bg);
}

.pricing-header {
  max-width: 700px;
}

.bi {
  vertical-align: -.125em ;
  fill: currentColor ;

}
.bi-dark-fill {
  vertical-align: -.125em ;
  fill: currentColor ;
}

button svg.bi {
  vertical-align: -.125em ;
  fill: currentColor ;

  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.border-top-primary {
  --bs-border-opacity: 1;
  border-top: 3px solid rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;
}

.flex-start {
  display:flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-between {
  display: flex ; 
  align-items: center ;
  justify-content: space-between ;
}
.flex-between.wrap {
  flex-wrap: wrap;
  flex-direction: column;
}

/* table grid */
table.table th, table.table td {
  border: inherit ;
  border-bottom-width: 1px ;
  padding: .5em ;
  text-align:center ; 
}

table.table th.border-primary {
  border: inherit ;;
  border-top-width: 1px ;
}

.snippets {
  padding: 0 ;
  margin: 0 ; 
}

.cursor-hand {
  cursor:pointer ; 
}

.justify-space-between {
  display: flex; 
  justify-content: space-between;
}

/* bootstrap custom */
.form-label.required::after {
  content: " *";
  color:#ff5050 ;
  font-weight: 900 ;
}

.form-control:focus {
  box-shadow: none !important;
  outline: 0;
}
.form-select {
  width: unset;
  min-width: 120px ;  
  font-size: 14px !important; 
  padding: 4px 23px 4px 8px !important;
}

/* bootstrap grid custom */
.col { flex: 1 0 0%; }
.grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
  border-bottom:none;
}
.header.grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86, 61, 124, .15);
  border-top: 1px solid #0d6efd ; 
  border-right: 1px solid #0d6efd ; 
  border-bottom: 1px solid #0d6efd ; 
  font-weight: 600 ; 
  text-align: center ; 
}

.header.grid-col.first {
  border-left: 1px solid #0d6efd ; 
}

.bs-primary { color: #0d6efd !important; }

/* jQuery-UI custom */
.ui-icon {
  background: transparent ;
  text-indent: -99999px !important;
}

a.ui-state-hover {
	border: 0 !important;
  cursor: pointer;
}
a.ui-datepicker-prev-hover {
  background: url(/images/icon-dark-prev.svg) !important;
  background-color:transparent !important; 
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

a.ui-datepicker-prev-next {
  background: url(/images/icon-dark-next.svg) !important;
  background-color:transparent !important; 
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

.ui-button { color: #dee2e6 !important; }

.ui-widget-header {
  background-color: #0d6efd ;
  color: #dee2e6 ;
}
.ui-widget-header .ui-icon {
  background-image: none ;
  background-color: transparent
}

.ui-widget-header a {
  color: #dee2e6;
}

.ui-datepicker {
  padding: 0 ;
  margin: 0 ;
  border: 0 !important; 
  margin-top: 5px; 
}

.ui-datepicker .ui-datepicker-header {
  border: 0 ;
  padding: 5px; 
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  width: 25px;
  height: 25px;
  line-height: 25px;
  top: 5px;
}
.ui-datepicker .ui-datepicker-prev { left: 5px; }
.ui-datepicker .ui-datepicker-next { right: 5px; }

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
  padding: 0 ;
  margin: 0 ;
  border: 0 !important; 
  margin-top: 5px; 
}


.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  position: inherit;
  top: 10px;
  left: 10px; 
  width: 25px;
  height: 25px;
}
.ui-datepicker-calendar a.ui-state-default:not(.ui-state-highlight) {
  background-color: transparent ; 
  border: 0 ; 
}

.ui-datepicker-prev {
  background: url(/images/icon-dark-prev.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.ui-datepicker-next  {
  background: url(/images/icon-dark-next.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* cursor */
.cur-default { cursor: default; }
.cur-hand, .cur-pointer { cursor: pointer; }

/* positon */
.pos-absolute { position: absolute !important; }

/* width ( w-100은 있는데 나머지는 못찾겠다. ) */
.w-90 { width: 90%; }
.w-80 { width: 80%; }
.w-70 { width: 70%; }
.w-60 { width: 60%; }
.w-50 { width: 50%; }
.w-40 { width: 40%; }
.w-30 { width: 30%; }
.w-20 { width: 20%; }
.w-10 { width: 10%; }

.w-60px { width: 60px !important; }
.w-100px { width: 100px !important ; }
.w-120px { width: 120px !important ; }
.w-150px { width: 150px !important ; }
.w-180px { width: 180px !important ; }
.w-200px { width: 200px !important ; }
.w-250px { width: 250px !important ; }
.w-300px { width: 300px !important ; }
.w-350px { width: 350px !important ; }
.w-400px { width: 400px !important ; }
.w-450px { width: 450px !important ; }
.w-500px { width: 500px !important ; }
.w-600px { width: 600px !important ; }
.w-670px { width: 670px !important ; }
.w-700px { width: 700px !important ; }
.w-800px { width: 800px !important ; }
.w-900px { width: 900px !important ; }

.h-45px { height: 45px !important ; }
.h-80px { height: 80px !important ; }
.h-100px { height: 100px !important ; }
.h-240px { height: 240px !important ; }
.h-245px { height: 245px !important ; }
.h-250px { height: 250px !important ; }
.h-350px { height: 350px !important ; }
.h-450px { height: 450px !important ; }
.h-600px { height: 600px !important ; }

.h-unset { height: unset !important; }

.no-width { width: unset !important; }
.no-max-width { max-width: unset !important; }

/* line-height */
.lh-20 { line-height: 20px !important;}
.lh-30 { line-height: 30px !important;}

/* margin */
.no-mgtop { margin-top: 0 !important; }
.no-mgbottom { margin-bottom: 0 !important; }
.ml-0 { margin-left: 0 !important; }
.mt-10 { margin-top: 10px !important; }
.mt-20 { margin-top: 20px !important; }
.ml-10 { margin-left: 10px !important; }
.ml-15 { margin-left: 15px !important; }
.ml-20 { margin-left: 20px !important; }
.mr-10 { margin-right: 10px !important; }
.mb-4 { margin-bottom: 4px !important; }
.mb-10 { margin-bottom: 10px !important; }

/* padding */
.no-pdtop { padding-top: 0px !important; }
.pd-0 { padding : 0 !important; }
.pd-1 { padding : 1px !important; }
.pd-2 { padding : 2px !important; }
.pd-3 { padding : 3px !important; }
.pd-4 { padding : 4px !important; }
.pd-5 { padding : 5px !important; }
.pd-6 { padding : 6px !important; }
.pd-7 { padding : 7px !important; }
.pd-8 { padding : 8px !important; }
.pd-9 { padding : 9px !important; }
.pd-10 { padding: 10px !important }

.pl-0  { padding-left: 0 !important; }
.pl-10 { padding-left: 10px !important; }
.pl-20 { padding-left: 20px !important; }
.pl-30 { padding-left: 30px !important; }

.pr-0 { padding-right: 0px !important; }
.pr-20 { padding-right: 20px !important; }
.pr-30 { padding-right: 30px !important; }

/* color */
.c-dark { color: #2b3035 !important; }
.c-white { color: #ffffff; }
.c-red { color: var(--hs-color-red) !important; }
.c-gray { color: var(--hs-color-gray) !important; }
.c-blue { color: var(--hs-color-378cff ) !important; }
.c-cyan { color: var(--hs-color-0ec4bf ) !important; }
.c-lime { color: var(--hs-color-92d050 ) !important; }
.c-orange { color: var(--hs-color-f7941d ) !important; }

.c-text { color: var(--hs-text-color) !important; }
.c-text-gray { color: #999595 !important;}

.c-373737{ color: var(--hs-color-373737 ); }
.c-464646{ color: var(--hs-color-464646 ); }
.c-5f5f5f{ color: var(--hs-color-5f5f5f ); }
.c-9c9c9c{ color: var(--hs-color-9c9c9c ); }
.c-378cff{ color: var(--hs-color-378cff ); }
.c-ff5050{ color: var(--hs-color-ff5050 ); }
.c-f7941d{ color: var(--hs-color-f7941d ); }
.c-0ec4bf{ color: var(--hs-color-0ec4bf ); }
.c-92d050{ color: var(--hs-color-92d050 ); }
.c-646f7c{ color: var(--hs-color-646f7c ); }
.c-3ec729{ color: var(--hs-color-3ec729 ); }

/* border */
.rounded-5 { border-radius: 5px !important; }
.bdtop-2 { border-top: 2px solid var(--hs-border-color) !important; }

/* background color */
.bg-gray { background-color: #f9fafa !important; }
.bg-light-blue {background-color: var(--hs-light-blue) !important; }
.bg-white,.white-bg { background-color: #ffffff; }
.bg-lighgray, .lighgray-bg { background-color: #f6faff; }

.bg-red, .bg-b3 { background-color: var(--hs-color-red) !important; }
.bg-blue, .blue-bg { background-color: #378cff; }
.bg-skyblue, .skyblue-bg { background-color: #00bfff; }
.bg-brown, .brown-bg { background-color: #d8770f; }
.bg-cyan, .cyan-bg { background-color: #10b8b3; }
.bg-darkblue, .darkblue-bg { background-color: #3f68aa; }
.bg-seablue, .seablue-bg { background-color: #00aacc; }

.lightblue-bg { background-color: var(--hs-blue-100) ; }
.lightred-bg { background-color: var(--hs-pink-100) ;  }
.lightyellow-bg { background-color: var(--hs-yellow-100); }

.bg-orange-100 { background-color: #daa520 !important; }
.bg-orange-300 { background-color: #ffa53a !important; }
.bg-orange-500 { background-color: #f2773d !important; }
.bg-orange-700 { background-color: #d8770f !important; }

.bg-gray-100 { background-color: var(--bs-gray-100 ) !important; }
.bg-gray-200 { background-color: var(--bs-gray-200 ) !important; }
.bg-gray-300 { background-color: var(--bs-gray-300 ) !important; }
.bg-gray-400 { background-color: var(--bs-gray-400 ) !important; }
.bg-gray-500 { background-color: var(--bs-gray-500 ) !important; }
.bg-gray-600 { background-color: var(--bs-gray-600 ) !important; }

.bg-373737 { background-color: var(--hs-color-373737 );  }
.bg-464646 { background-color: var(--hs-color-464646 );  }
.bg-5f5f5f { background-color: var(--hs-color-5f5f5f );  }
.bg-9c9c9c { background-color: var(--hs-color-9c9c9c );  }
.bg-378cff { background-color: var(--hs-color-378cff );  }
.bg-ff5050 { background-color: var(--hs-color-ff5050 );  }
.bg-f7941d { background-color: var(--hs-color-f7941d );  }
.bg-0ec4bf { background-color: var(--hs-color-0ec4bf );  }
.bg-92d050 { background-color: var(--hs-color-92d050 );  }
.bg-646f7c { background-color: var(--hs-color-646f7c );  }
.bg-3ec729 { background-color: var(--hs-color-3ec729 );  }

.bg-transparent { background-color: transparent !important; }

/* scroll */
.no-scroll { overflow: hidden !important; }
.scroll { overflow: auto !important ; }

/* text-align */
.tac { text-align: center !important; }
.tal { text-align: left !important; }
.tar { text-align: right !important; }

/* font-weight */
.bold { font-weight: 600 !important; }
.f-600 { font-weight: 600 !important; }

/* font-size */
.fs-13 { font-size: 13px;}

/* hidden */
.hidden { display:none !important ; }

/* link-style */
a.link-style { text-decoration: none; }
a.link-style:hover { color: #ff5050; text-decoration: underline ;}

a.link-style.bold { font-weight: 600; }

/* border */
.border-r {
  border-right: 1px solid var(--bs-border-color) ; 
}
.border-r.dark {
  border-right: 1px solid #c6c6c6 ; 
}

.border-lr {
  border-left: 1px solid var(--bs-border-color) ; 
  border-right: 1px solid var(--bs-border-color) ; 
}

.border-lr.dark {
  border-left: 1px solid #c6c6c6 ; 
  border-right: 1px solid #c6c6c6 ; 
}
.no-rounded-r {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.no-border { border: 0 !important ; }
.no-border-r {
  border-right: 0 !important; 
}

/* flex */
.label-flex {
  display: flex ; 
  align-items: center ; 
  justify-content: flex-start ; 
}

.align-center { align-items: center !important ; }
.align-start { align-items: flex-start !important ; }
.align-end { align-items: flex-end !important ; }

.justify-start { justify-content: flex-start !important;}
.justify-end { justify-content: flex-end !important;}
.justify-center { justify-content: center !important;}
.justify-around { justify-content: space-around !important ; }
.justify-between {
  display: flex !important;
  justify-content: space-between !important ;
  position: relative;
}

.label-flex em { margin-right: 5px; }
.label-flex em.ml { margin-left: 5px; }

.hddn_ifrm { width: 0px; height: 0px; }

.text-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn-kakao-login {
  width: 300px; 
  height: 45px ;
  margin: 0 ; 
  padding: 0 ; 
  text-indent: -99999px ;
  background-image: url("/images/kakao_login_medium_wide.png");
}

/* 동기화 필요작업 2025.04.22 */ 
.c-body { color: var(--bs-body-color) ; }
.dropdown-menu.select {
  background: url(/images/arrow-down.svg);
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.dropdown-menu.items { display: block }
.dropdown-item {
  width: calc(100% - 30px) ; 
  min-width:80px;
  max-width:200px;
  overflow: hidden ;
  white-space: nowrap ;
  text-overflow: ellipsis;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none ;
  opacity:initial ;
}

.homes-login-title {
  padding-left: 50px;
}

.homes-login-title.pro {
  background:transparent url(/images/icon-homes-pro.jpg) 0 0 no-repeat ; 
  background-size:contain ; 
}

.homes-login-title.user {
  background:transparent url(/images/icon-homes-user.jpg) 0 0 no-repeat ; 
  background-size:contain ; 
}

.list-group-wrap {
  display: flex ;
  flex-direction: row;
  align-items:center ;
  justify-content: center ;
}

.btn-kakao-login {
  width: 300px;
  height: 45px;
  cursor: pointer ;
}

.textbox {
  padding: 10px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  color: var(--bs-body-color) ;
}

.input-style {
  border: var(--bs-border-width) solid var(--bs-border-color);
  color: var(--bs-body-color) ;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

button.btn-white.select-box {
  display:flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
button.btn-white.select-box .text {
  padding: 0 20px;
  padding-left: 0;
  text-align: left ;
}

.btn-group button {
	background-color: #ffffff !important ;
  border: 1px solid var(--bs-border-color ) ;
  border-radius: var(--bs-border-radius) !important;
}

button.btn-green {
	background-color: #92d050 !important ;
  color: #ffffff;
  border: 1px solid var(--bs-border-color ) ;
  padding: 10px 20px; 
  margin: 0 5px;
  border-radius: var(--bs-border-radius) !important;
}


button.btn-naver {
	background-color: #FFFFFF !important ;
  color: #00C63B;
  border: 1px solid #00C63B ;
  padding: 10px 20px; 
  margin: 0 5px;
  border-radius: var(--bs-border-radius) !important;
  font-weight: 600
}

.btn.no-effect:focus, .btn.no-effect:hover, .btn.no-effect:active {
  outline: 0;
  border: 0;
  box-shadow: none;
}

.btn-select {
  display: flex ;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--hs-button-border-color) ;
  border-radius: var(--bs-border-radius) ;
  font-size: var(--hs-fs-13) ;
  font-weight: var(--hs-fw-500) ;
  color: var(--hs-color-5f5f5f) ;
  background-color: #ffffff ;
  min-width: 100px;
  max-width: 120px;
  padding-left: 10px;
  cursor: pointer;
  height: 36px;
}
.btn-select .btn-select-text {
  text-align: left;
  display: block ;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  height: 30px;
  line-height: 30px;
}
.btn-select .btn-select-arrow {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: -2px;
}
.btn-select .btn-select-arrow img {
  transition: 0.3s;
  transform: rotate(0);
}
.btn-select .btn-select-arrow.active img {
  transform: rotate(180deg);
}
.hs-slide-bar {
  width: 100%;
  /* height: 40px; */
  position: relative;
  font-family: inherit;
  user-select: none;
  flex: 1;
  transition: 0.3s;
}
.hs-slide-bar .slide-title {
  user-select: none;
  display:flex;
  justify-content: space-between ;
  align-items: center ;
  min-height: 40px;
  padding: 5px 10px;
}

.hs-slide-bar .slide-title.type-02 { padding: 12px 30px !important; }

.hs-slide-bar .slide-title .arrow {
  transition: 0.3s;
  transform: rotate(0deg) ;
}

.hs-slide-bar .slide-title.open .arrow {
  transform: rotate(180deg);  
  /* filter: brightness(0) saturate(100%) invert(25%) sepia(95%) saturate(3300%) hue-rotate(200deg) brightness(98%) contrast(101%); */
}
.hs-slide-bar .slide-title .slide-text {
  display: flex;
  align-items: center ;
  justify-content: space-between ;
}
.hs-slide-bar .slide-title .slide-hddn-List {
  display: none;
  align-items: center ;
  justify-content: space-between ;
}

.hs-slide-bar .slide-title .slide-abs-arrow { position:absolute; right: 0px; width:20px; cursor: pointer; }

.hs-slide-bar .slide-list {
  display: none;
  font-size: 13px;
  background-color: #ffffff; 
  margin-top: 2px; 
  border-radius:5px; 
  margin: 5px 1px; 
  padding: 10px 0;
  height: 110px;
}
.hs-slide-bar .slide-list:hover {
  background-color: var(--hs-hover-color-blue) ;
}

.hs-slide-bar .slide-list .slide-item {
  display: block;
  width: 380px;
  padding: 5px 10px;
}

.hs-badge {
  min-width: 44px;
  padding: 0 5px;
  height: 22px;
  text-align: center;
  align-content: center;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 3px;
}
.hs-badge.rounded { border-radius: 40px !important; }
.hs-badge.sm {
  padding: 1px 3px;
  font-size: 11px;
  line-height: 11px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 3px;
  min-width: 36px;
  height: 16px;
}
.hs-badge.white {
  background-color: #ffffff !important;
  color: #575757 !important;
  border: 1px solid var(--hs-border-color) !important; 
}

.hs-badge.bg-b2,
.hs-badge.gray {
  background-color: #efefef;
  color: #5f5f5f;
}

.sepa-22 {
  height: 22px ;
  width: 6px;
  border-right : 1px solid var(--bs-border-color);
  margin-right: 5px ; 
}

.pop-dimmed {
  position: fixed ; 
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0 ; 
  background:RGBA(0,0,0,0.7) ;
  display: flex ;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}
.pop-area {
  background: #ffffff;
  border-radius: 5px;
  position:fixed;
  top: 170px;
  left: calc(50% - 424px) ; 
  width: 828px ; /* ( 130 * 6 ) + 48 */
  /* max-height: 578px; */
  min-height: 94px ;
  padding: 10px 0 24px 0; 
  z-index: 1100;
}

.pop-area.wid-900px {
  width: 900px !important;
  left: calc(50% - 480px) ; 
}
.pop-area.top-70px {
  top: 70px !important;
}


.pop-area .pop-cont-wrap {
  width: 100% ; 
  padding: 0 24px; 
  padding-top: 14px; 
}
.pop-area .pop-cont-wrap .table-box-wrap {
    background-color: var(--bs-border-color);
    padding: 1px;
    border-radius: 5px;
    display: flex ;
    flex-direction: column;
    gap: 1px;
}

.pop-area .table-box-wrap .table-box {
  display: flex ;
  gap: 1px;
}
.pop-area .button-box {
  display: flex ;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
  padding: 10px 0 ; 
  background: #ffffff;
  border: 0 ;
}

.pop-area .table-box-wrap .table-box .label {
  background-color: var(--hs-table-header-color);
  width: 92px;
  height: 56px;
  align-content: center;
  text-align: center;
  font-size: 13px;
  border-radius: 5px 0 0 5px;
}
.pop-area .table-box-wrap .table-box .label.info {
  color: var(--hs-color-red ) ; 
  min-height: 80px;
}
.pop-area .table-box-wrap .table-box .label.text {
  min-height: 300px ;
}

.pop-area .table-box-wrap .table-box .field {
  align-content: center;
  background-color: #ffffff;
  padding: 9px;
  height: 56px;
  flex: 1;
}
.pop-area .table-box-wrap .table-box .field.info { min-height: 80px; }
.pop-area .table-box-wrap .table-box .field.text { min-height: 300px; }
.pop-area .table-box-wrap .table-box .field p {
  line-height: 1.8 ;
}

.pop-area .pop-cont-wrap .title {
  font-size: 18px;
  display: flex ;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  margin-bottom: 10px;
}

.pop-area .s-area {
  display: flex; 
  justify-content: center ;
  align-items: center ;
  padding: 0 24px 10px 24px ;
}

.pop-area .s-area button {
  background-color: #ffffff;
  text-align: left ;
  border-radius: var(--bs-border-radius);
  border: 1px solid var(--bs-border-color);
  padding: 0;
  padding-left: 10px; 
  font-weight: 500 ;
  min-width: 98px;
  height: 34px;

} 

.pop-area .s-area-List {
  width: 100% ;
  max-height: 500px;
  padding: 0 24px; 
  overflow-x: hidden;
  overflow-y: auto;
}
.pop-area .s-List {
  display: flex ;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1px; 
  background-color: var(--bs-border-color) ;
  border-radius: 5px;
  padding: 1px ;
  width: 780px ;
  min-height: 50px;
}
.pop-area .s-List .btn-area {
  width: 129px ;
  height: 50px ; 
  line-height: 50px ; 
  text-align: center ;
  font-weight: 500;
  background: #ffffff ;
  border-radius: 5px ;
}
.pop-area .s-List .btn-area:nth-child(6n) {
  width: 128px;
}

.pop-alert {
  display: flex ;
  flex-direction: column ;
  flex-wrap: nowrap ;
  justify-content: center ;
  background: #ffffff;
  border-radius: 5px;
  position:fixed;
  top: calc(50% - 75px);
  left: calc(50% - 150px) ; 
  width: 300px ; 
  height: 150px ;
  padding: 24px 10px ; 
  z-index: 1100;
}

.pop-alert .message {
  display: flex ;
  align-items: center;
  justify-content: center ;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  min-height: 90px;
}
.pop-alert .buttons button {
  width: 100% ;
}

.pop-alert .buttons.confirm {
  display: flex ;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between ;
  width: 100% ;
  gap: 1px;
}
.pop-alert .buttons.confirm button {
  width: 49% ;
}

.arrow-next {
  padding: 0 10px;
}
.arrow-next img {
  rotate: -90deg;
}

.btn-hidden {
  position: fixed ;
  top: -9999px;
  left: -9999px;
  width: 100px;
  height: 35px; 
}


.blit-icon {
  background-color: transparent;
  border: none;
  padding: 2px; 
  margin: 0 2px;
  width: 20px;
  height: 20px;
  background-size: auto;
  background-position: 0 50%;
}

.blit-icon.empty-heart {
  padding-left: 25px; 
  background-image: url("/images/empty-heart.png") ; 
  background-repeat: no-repeat;
}

.hs-label {
  color: var(--hs-text-color) ; 
  font-size: 15px ; 
  line-height: 15px;
  text-align: center ;
  margin-right: 5px;
  font-weight: 500;
  border-radius: var(--hs-border-radius) ;
  padding: 6px;
}

.hs-label.room-number {
  cursor: pointer ; 
  min-width: 65px;
  /* text-align: left; */
  font-size: 13px !important;
}

.hs-label.selected { 
  background-color: var(--hs-color-red ); 
  color: #ffffff;
}

.dong-text {
  text-align: center;
  padding: 10px 0;
}
.dong-matrix {
  display: flex;
  justify-content: center ;
  align-items: flex-start ;
  width: 100%;
  padding: 20px 0;
  margin: 0 ;
  background-color: transparent ; 
  background-image: url(/images/tree.png) ; 
  background-repeat: no-repeat ;
  background-position-x: 0;
  background-position-y: -9999px;
}
.dong-matrix .buld { font-size: 13px; font-weight: 400; }
.dong-matrix .buld .rooftop {
  display: flex; 
  align-items: center ;
  text-align: center ;
}
.dong-matrix .buld .rooftop .floor { 
  width: 40px;
  height: 30px;
}
.dong-matrix .buld .rooftop .room {
  width: 60px;
  height: 30px;
  border-top: 1px solid #5f5f5f;
  border-left: 1px solid #5f5f5f;
  line-height: 30px; 
  background-color: #ffffff ;
}

.dong-matrix .buld .floor-box {
  display: flex; 
  align-items: center ;
  text-align: center ;
}
.dong-matrix .buld .floor-box .floor { 
  width: 40px;
  height: 30px;
  line-height: 30px;
  background-color: #f2ffe4;
  border-top: 1px solid #5f5f5f;
  border-left: 1px solid #5f5f5f;
}
.dong-matrix .buld .floor-box .room {
  width: 60px;
  height: 30px;
  border-top: 1px solid #5f5f5f;
  border-left: 1px solid #5f5f5f;
  line-height: 30px; 
  background-color: #ffffff ;
}

.dong-matrix .buld .under-ground {
  display: flex; 
  align-items: center ;
  text-align: center ;
}
.dong-matrix .buld .under-ground .floor { 
  width: 40px;
  height: 30px;
  line-height: 30px;
  background-color: var(--hs-color-orange);
  border-top: 1px solid #5f5f5f;
  border-left: 1px solid #5f5f5f;
  color: #fff; 
}
.dong-matrix .buld .under-ground .room {
  width: 60px;
  height: 30px;
  border-top: 1px solid #5f5f5f;
  border-left: 1px solid #5f5f5f;
  line-height: 30px; 
  background-color: #ffffff ;
}
.dong-matrix .buld .under-ground.bottom .floor,
.dong-matrix .buld .under-ground.bottom .room { border-bottom: 1px solid #5f5f5f; }

.dong-matrix .buld .room.last { border-right: 1px solid #5f5f5f; }
.dong-matrix .buld .room.empty { background: transparent; }
.dong-matrix .buld .room.nbdt { border-top: 0; }
.dong-matrix .buld .room.nbdl { border-left: 0; }
.dong-matrix .buld .room.nbdr { border-right: 0; }

.dong-matrix .buld .room.etc-pps { background: var(--hs-color-lightblue); }
.dong-matrix .buld .room.rest-space { background: #e6e6e6; }
.dong-matrix .buld .room.empty-space { background: #eeeeee; }
.dong-matrix .buld .room.done { background-color: var(--hs-color-lime) ; }
.dong-matrix .buld .room.hover { background-color: var(--hs-pink-100) ; }
.dong-matrix .buld .room.selected { background-color: var(--hs-color-red) ; }

.box-category { 
  display:flex;
  justify-content: center ;
  align-items: center ;
  padding: 10px 20px; 
}
.box-category .box-cate {
  display:flex;
  justify-content: center ;
  align-items: center ;
  padding: 0 5px ; 
  margin: 2px 3px; 
  height: 20px; 
}
.box-category .cate {
  width: 40px ;
  height: 20px ;
  border: 1px solid #5f5f5f ;
  margin-right: 5px; 
}
.box-category .cate.cat-gray { background: #e6e6e6; }
.box-category .cate.cat-lightblue { background: var(--hs-color-lightblue); }
.box-category .cate.cat-lime { background: var(--hs-color-lime) ; }
.box-category .cate.cat-red { background: var(--hs-color-red) ; }

.box-category .text {
  line-height: 20px; 
  font-size: 14px; 
  font-weight: 500; 
}
