.dimmed {
	position: fixed ; 
	top: 0 ; 
	left: 0 ; 
	width: 100%; 
	height: 100% ; 
	z-index: 990 ;
	background-color: #2b3035 ;
	opacity: 60% ; 
}

.dimmed-loading {
	position: fixed ; 
	top: -9999px ; 
	left: -9999px ; 
	z-index: 990 ; 
}

/* 동기화 필요작업 2025.04.22 */ 
.form-select {
	font-size: 16px;
	border: var(--bs-border-width) solid var(--bs-border-color);
}
.form-select:focus {
	box-shadow: none !important;
	border: var(--bs-border-width) solid var(--bs-border-color);
}

.homes-logo {
    background-image: url(/images/icon-homes-pro.jpg);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 0px;
    height: 80px;
}

.homes-logo .logo-text {
	padding-left: 60px;
    line-height: 80px;
    font-weight: 600;
    color: var(--bs-primary);
}


.main-cont {
	max-height: 800px;
	margin: 15px;
	padding: 10px;
	border: 1px solid var(--bs-border-color) ;
	overflow: auto;
}

.main-cont-header {
	width: 100%;
	height: 80px;
	display:flex;
	flex-direction: row;
	align-items: center;
	/* justify-items: center; */
	justify-content: space-between;
}

.main-cont-header .slogan {
	line-height: 60px;
    font-weight: 600;
    color: var(--bs-primary);
    margin: 0 10px;
    padding: 0 5px;
}
.main-cont-header .slogan .checked {
    background-image: url(/images/check2-circle-ff6161.svg);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: 110px 0px;
    padding-right: 50px;

}
.main-cont-header .slogan .checked::before {
	content:"\00b7부동산사기"
}
.main-cont-header .slogan  span {
	font-weight: 600;
    font-size: 1.5rem;
}

.gnb-button {
	font-size: 20px;
    font-weight: 600;
    padding: 0px 20px;
    height: 80px;
    border: 0;
    /* border-bottom: 3px solid var(--bs-primary); */
    color: var(--bs-secondary-color);
    background: transparent;
}

.gnb-button-login {
	font-size: 18px;
    font-weight: 600;
    padding: 0px 20px;
    height: 80px;
    border: 0;
    color: var(--bs-secondary-color);
    background: transparent;
}

.gnb-usertype {
	font-size: 20px;
	line-height: 80px;
    font-weight: 600;
    padding: 0px 20px;
    height: 80px;
    border: 0;
	border-left: 1px solid var(--bs-border-color) ; 
    color: var(--bs-primary);
    background: #f6faff;
}

.gnb-button:hover {
    color: var(--bs-primary-color);
    border-bottom: 3px solid var(--bs-primary);
}

.gnb-button.active {
	color: var(--bs-primary) ;
    border-bottom: 3px solid var(--bs-primary);
}

.main-cont-body {
	width: 95%;
	min-width: 300px; 
}

.main-cont .body-header {
	margin: 5px;
	padding:15px 20px 5px 0; 
}

.main-cont .body-header h5 {
	font-weight: 600 ;
}

.grid-table {
	display: block;
	width: 100%;
	padding: 0;
	margin: 5px;
}

.grid-table .grid-row {
	display: flex;
	width: 100%;
	height: 60px;
	justify-content: space-between ;
    padding: 5px 20px;
	margin-bottom: 10px;
}

.grid-row .gd-col {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 10px;
}

.gd-col.gd-table {
	display: flex;
	flex-direction: column;
	align-items: flex-start !important;
	justify-content: center !important;
}

.grid-row .gd-col-group {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.grid-row .gd-col-group .gd-col {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 10px;
}

.label {
	width: 200px;
    padding: 0 10px;
	font-weight: 600 !important;
}

.label.required::after {
	content: " * ";
	color: #ff6161;
}

.main-cont .body-title {
	display: flex ;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 5px;
	padding:10px 20px; 
	border-radius: 5px;
	height: 50px;
}

.body-title .cont-left {
	display: flex;
	justify-content: flex-start ;
	align-items: center ;
}

.cont-left.col {
	padding: 0 ;
	margin: 0 ; 
	border: none ;
}

.body-title .cont-left.title {
	margin: 10px 0;
	padding: 10px 20px;
}

.body-title .cont-right {
	display: flex;
	justify-content: flex-end ;
	align-items: center ;
}

.body-row {
	width: 100%; 
	display:flex;
	flex-wrap:nowrap;
	flex-direction: row ;
	align-items: flex-start;
	justify-content: flex-start ;
    margin: 0;
	margin-top: 5px;
    padding: 0;
	border: none;
}
.body-row .body-col {
    padding: 10px 0 10px 20px;
    margin: 0;
    padding: 0;
	height:60px; 
}
.body-row .body-col .label {
    margin: 10px;
    margin-left: 0;
}
.body-row .body-col.gray {
	background-color: var(--bs-gray-100);
}

.body-title.gray {
	background-color: var(--bs-gray-100 ) ; 
}

.btn-group {
	display:flex ;
    vertical-align: middle;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
	margin: 5px 0 ;
}
.btn-group button {
	margin: 5px;
	background-color: #f8f9fa !important;
	border: 1px solid var(--bs-gray-500) !important;
	border-radius: var(--bs-border-radius) !important;
	min-width: 150px;
	padding: 5px 20px;
	margin: 1px !important ;
}


.btn-group button.selected {
	background-color: #92d050 !important ;
	color: #ffffff;
}

.btn-group button:hover {
	background-color: #f8f9fa !important;
	border: 1px solid var(--bs-gray-500) !important;
	border-radius: var(--bs-border-radius) !important;
}
.btn-group button.selected:hover {
	background-color: #92d050 !important ;
	color: #ffffff;
}

.kakao-map-wrap {
	margin: 0;
	padding: 5px;
	border: 0;
}

.kakao-map.sm {
	width: 500px;
	height: 230px;
	border: 1px solid var(--bs-border-color) ;
	border-radius: var(--bs-border-radius) ;
}


.table-cell { width: 100%; }
.table-cell table { width: 100%; }
table.table-02 th {
	background-color: var(--bs-primary-bg-subtle ) ;
	padding: 5px 20px;
	border-top: 1px solid #2b3035 ;
	border-left: 1px solid #2b3035;
	font-weight: 600;
}

table.table-02 th.last {
	border-bottom: 1px solid #2b3035;
}

table.table-02 td {
	padding: 5px 20px ;
	border-top: 1px solid #2b3035 ;
	border-left: 1px solid #2b3035;
}

table.table-02 td.last {
	border-right: 1px solid #2b3035;
}

table.table-02 td.border-b {
	border-bottom: 1px solid #2b3035;
}

table.table-02 td.last-col {
	border-right: 1px solid #2b3035;
	border-bottom: 1px solid #2b3035;
}

.pop-main {
	background: var(--bs-body-bg ) ; 
	position: fixed ; 
	z-index:990;
}

.pop-main.full-size {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	padding: 20px;
}

.pop-cont {
	width: 100%;
	border: 1px solid var(--bs-border-color ) ; 
	margin-bottom:20px;
}
.pop-cont-header {
	display: flex ;
	flex-wrap: nowrap;
	align-items: center ;
	justify-content: space-between;
	border-bottom: 1px solid var(--bs-border-color) ;
	height: 60px ;
}
.pop-cont-header .pop-title {
	padding-left: 60px;
}

.pop-cont-header .pop-header {
	display: flex;
	align-items: center;
	justify-content: space-between ;
	width: 100%; 
	height: 60px;
}

.pop-cont-header .pop-title h3 { 
	font-weight: 600; 
	color: #2b3035;
	margin-bottom: 0;
}
.pop-cont-header .pop-close {
	width: 60px;
	height:60px;
	margin-left: 20px;
}

.pop-cont-body {
	width: 100%;
	min-height: 300px;
	max-height: 700px;
	border: 0 ; 
	margin-top: 5px;
	padding: 5px 60px; 
	overflow-x: hidden;
	overflow-y: auto;
}

.pop-cont-body .pop-cont-tab {
	padding-top: 20px;
	width: 100%;
	height: 60px;
	border: 1px solid var(--bs-border-color ) ;
	padding-left: 80px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start ; 
	align-items: flex-end;
}

.pop-cont-body .pop-cont-tab .tab-item {
	font-weight: 600;
	font-size: 18px;
	height: 60px;
	border-bottom: 3px solid #ffffff ; 
	padding: 0 30px;
	line-height: 60px;
	cursor: pointer;
}
.pop-cont-body .pop-cont-tab .tab-item.active {
	color: #ff6161;
	border-bottom: 3px solid #ff6161;
	cursor: unset ;
}

.pop-cont-body .pop-cont-tab .tab-item:hover
, .pop-cont-body .pop-cont-tab .tab-item:active {
	color: #ff6161;
	border-bottom: 3px solid #ff6161;
}

.pop-cont-body .pop-cont {
	width: 100%; 
	padding: 0 30px;
}
.pop-cont-body .pop-cont .pop-cont-label {
	padding: 10px 0; 
	height: 60px
}
.pop-cont-body .pop-cont .pop-cont-label h4 {
	font-weight: 600 ;
	margin-bottom: 0;
	line-height: 40px;
}

.pop-cont .pop-cont-box {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 10px;
	overflow: auto;
}

 .pop-cont-box .box-label {
	width: 150px;
	font-weight: 600;
	padding: 0 10px 0 20px;
 }
 .pop-cont-box .box-label.bdr {
	border-right: 2px solid var(--bs-dark );
 }

 .pop-cont-box .box-cont {
	padding: 0 10px 0 20px;
 }

 .pop-cont-box .box-cont .box-cont-text {
	width: 70%;
	height: 40px;
	line-height: 40px; 
 }

.pop-body {
	display:flex;
	padding: 10px ; 
	padding-bottom: 0;
}

.pop-footer {
	display:flex;
	justify-content: flex-end ;
	align-items: center ;
	padding: 10px ; 
}

.btn-close.btn-pop-close {
	width: 60px;
    height: 60px;
	border-radius: 0 ;
    background: var(--bs-black) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e") ;;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
	padding:0; 
    --bs-btn-close-opacity: 0.8;
    --bs-btn-close-hover-opacity: 0.8;
}


.arear-text-btns {
	display:flex;
	justify-content: center ;
	align-items: center ;
}

.arear-text-btns .arrow {
	width: 20px;
    height: 20px;
    background: url(/images/arrow-down.svg) no-repeat center;
    opacity: 50%;
    transform: rotate(-90deg);
}