[data-bs-theme=light] {
    --hs-border-color: #919191 ;
    --hs-color-ffffff: #ffffff;
    --hs-color-efefef: #efefef;
    --hs-color-373737: #373737;
    --hs-color-464646: #464646;
    --hs-color-5f5f5f: #5f5f5f;
    --hs-color-9c9c9c: #9c9c9c;
    --hs-color-378cff: #378cff;
    --hs-color-ff5050: #ff5050;
    --hs-color-f7941d: #f7941d;
    --hs-color-0ec4bf: #0ec4bf;
    --hs-color-92d050: #92d050;
    --hs-color-646f7c: #646f7c;
    --hs-color-3ec729: #3ec729;

    /* font-size */
    --hs-fs-12: 12px;
    --hs-fs-13: 13px;
    --hs-fs-14: 14px;
    --hs-fs-15: 15px;
    --hs-fs-16: 16px;
    --hs-fs-17: 17px;
    --hs-fs-18: 18px;

    --hs-fw-100: 100;
    --hs-fw-200: 200;
    --hs-fw-300: 300;
    --hs-fw-400: 400;
    --hs-fw-500: 500;
    --hs-fw-600: 600;

    /* button styling */
    --hs-button-border-color: #e6e6e6;
    --hs-button-fs-12: 12px ;
    --hs-button-fs-13: 13px ;
    --hs-button-fs-17: 17px ;
    --hs-button-fw-500: 500;
}

.fs-12 { font-size: var(--hs-fs-12) !important; }
.fs-13 { font-size: var(--hs-fs-13) !important; }
.fs-14 { font-size: var(--hs-fs-14) !important; }
.fs-15 { font-size: var(--hs-fs-15) !important; }
.fs-16 { font-size: var(--hs-fs-16) !important; }
.fs-17 { font-size: var(--hs-fs-17) !important; }
.fs-18 { font-size: var(--hs-fs-18) !important; }

.fw-100 { font-weight: var(--hs-fw-100) !important; }
.fw-200 { font-weight: var(--hs-fw-200) !important; }
.fw-300 { font-weight: var(--hs-fw-300) !important; }
.fw-400 { font-weight: var(--hs-fw-400) !important; }
.fw-500 { font-weight: var(--hs-fw-500) !important; }
.fw-600 { font-weight: var(--hs-fw-600) !important; }