.textarea-style {
    width: 100% ;
}

.ql-editor {
    color: var(--bs-dark) ;
}
.ql-editor p {
    line-height: 2 !important;
}

.ql-container.view {
    border: 0;
}

.ql-container.view .ql-editor { 
    padding: 0;
}