/* text-align */ 
.tac { text-align: center !important; }
.tal { text-align: left !important; }
.tar { text-align: right !important; }
.form-check-input { background-color: #ffffff ; }
.form-control { background-color: #ffffff ; }
.form-control:focus { background-color: #ffffff ; }

.form-select {
  background-color: #ffffff ;
  padding-top: 5px; 
  padding-bottom: 5px; 
  color:var(--hm-color-dark) ; 
}

.btn { 
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    color: var(--hm-color-dark); 
}

.btn.btn-basic {
  background-color: #ffffff ;
  padding: 5px 15px;
  min-width: 80px;
  border: 1px solid var(--hm-color-border);
  color: var(--hm-color-dark) ; 
}
.btn.btn-basic:hover {
  background-color: #ffffff ;
  border: 1px solid var(--hm-color-border);
  color: var(--hm-color-dark) ; 
}

.btn.btn-basic:active {
  background-color: var(--hm-color-gray) ;
  border: 1px solid var(--hm-color-border);
  color: var(--hm-color-dark) ; 
}

.btn.btn-save {
  padding: 5px 15px;
  min-width: 80px;
  background-color: var(--hm-color-save) ;
  border: 1px solid var(--hm-color-save) ;
  color: #ffffff;
}
.btn.btn-save:hover {
  background-color: var(--hm-color-save) ;
  border: 1px solid var(--hm-color-save) ;
  color: #ffffff;
}

.btn.btn-save:active {
  background-color: #ffffff ;
  border: 1px solid var(--hm-color-save) ;
  color: var(--hm-color-dark) ; 
}