.homes-wrap {
	width: 100%;
	height: 100%;
	padding: 0 ; 
	margin: 0 ;  
	overflow:hidden ;
}

.header-wrap {
	width: 100%;
	height: 80px;
	border-bottom:1px solid #495057;
	display: flex; 
	align-items: center ;
	justify-content: flex-start;
	padding-right: 20px; 
	
}

.header-gnb-wrap {
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding:0;
	margin:0; 
}

.header-gnb-cont {
	display:flex;
	justify-content: flex-start;
	align-items: center;
}

.header-logo {
	width: 250px ; 
	height: 80px ; 
/* 	border-right: 1px solid #495057; */
	display: flex ; 
	align-items: center ;
	padding: 40px 10px;
}

.btn-home {
	height: 30px; 
	padding: 0;
	margin: 0;
    background: url(/images/homes-logo.png) no-repeat;
    background-size: 30px 30px;
    padding-left: 40px; 
	
}

.header-user {
	/*
	width: 200px; 
	text-align:center;
	*/
}

.btn-user {
	height: 80px; 
	padding: 0;
	margin: 0;
    background: url(/images/emoji-smile-fill.svg) 10px 50% no-repeat;
    background-size: 20px 20px;
    padding-left: 40px; 
    line-height: 80px; 
	
}
.btn-home .title-logo {
	font-size: 25px;
	font-weight: 600 ;
	line-height: 30px ;
}

.btn-user .title-user {
	font-size: 14px;
	line-height: 30px ;
}

.header-gnb {
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-items: flex-start ;
}

.btn-gnb {
	height: 80px;
	padding: 10px ;
	background-color: transparent;
	font-weight: 600;
	font-size: 18px;
	border-bottom: 1px solid #495057 ;
}

.btn-gnb.on, .btn-gnb:hover {
	color:#ff6161;
	border-bottom: 1px solid #ff6161;
	background-color: inherit;
}

.cont-area-wrap {
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap ;
	width: 100%;
	height: calc(100% - 120px);
	padding:0;
	margin: 0;
}

.nav-wrap {
	width: 250px;
	height:100%;
	padding: 0 ; 
	margin: 0;
	border-right: 1px solid #495057;
}
.content-wrap {
	width: calc(100% - 250px);
	height: 100%; 
	background-color:#495057; 
	padding:25px;
	margin: 0;
	overflow: auto;
}
.content-wrap .title-wrap {
	width: 100% ; 
	height: 54px;
	/* border-bottom: 1px solid #dddddd ; */
	display: flex ; 
	align-items: center ;
	justify-content: space-between;
}

.content-wrap .title-wrap h2 {
	font-size: 20px;
	font-weight: 600;
	line-height:54px;
}


.bottom-area-wrap {
	width: 100%;
	height: 40px;
	border-top:1px solid #495057;
}

.dimmed {
	position: fixed ; 
	top: 0 ; 
	left: 0 ; 
	width: 100%; 
	height: 100% ; 
	z-index: 990 ;
	background-color: #2b3035 ;
	opacity: 40% ;
}

.dimmed-loading {
	position: fixed ; 
	top: -9999px ; 
	left: -9999px ; 
	z-index: 990 ;
	display:none ; 
}

.homes-modal {
	padding: 20px ; 
	padding-bottom: 5px; 
	margin: 0; 
	border: 1px solid #495057 ; 
	border-radius: 5px ;
	background-color: #ffffff ;
	position: fixed ; 
	justify-content: center ;
	z-index:990;
}

.pop_cont_wrap {
	padding: 0 5px; 
	margin: 0 ; 
}


.pop_hidden_button {
	position: absolute ; 
	top: -99999px ; 
	left: -99999px ; 
}

.homes-popup-modal {
	padding: 0 ; 
	margin: 0; 
	border: 0 ; 
	position: fixed ; 
	display:block;
	top: 0 ;
	left: 0 ;
	z-index:990;
}

.homes-popup-modal .homes-popup-title-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between ;
    padding: 0 20px;
}

.homes-popup-modal .homes-popup-title {
	display: flex;
	align-items: center;
	justify-content: space-between ;
	height: 50px; 
}
.homes-popup-modal .homes-popup-title-text {
	line-height: 50px; 
	font-weight: 600; 
}

.homes-popup-modal .homes-popup-title-button {
	width: 50px;
	text-align: right ;
}

.homes-popup-modal .homes-popup-cont {
	overflow: auto ;
	background-color: #495057;
	min-height: 300px; 
	max-height: 500px;
}

.homes-popup-modal .homes-popup-cont-wrap {
	padding: 20px; 
}

.homes-modal .message {
	border-bottom: 1px solid #495057;
	padding: 15px 5px 25px 5px; 
	font-weight: 600;
}
.homes-modal .buttons {
	display: flex ; 
	align-items: center ;
	justify-content: center;
	padding: 10px 0 5px 0; 
}


/* table grid */
.table-grid-wrap {
	width: 100%; 
	margin-top: 20px; 
}

.table-grid-01 {
	width: 100%; 
	border-top: 2px solid #0d6efd ; 
}


.table-grid-01 thead tr th {
	display:inline0-block; 
	padding: 10px;
	border-bottom: 1px solid #0d6efd ; 
	border-right: 1px solid #565656 ;
	font-weight: 600;
	text-align:center ; 
	background-color: var(--bs-secondary-bg) ; 
	white-space: nowrap ; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

.table-grid-01 thead tr th:first-child {
	border-left: 1px solid #565656 ;
}

.table-grid-01 tbody tr td {
	display:inline0-block; 
	padding: 10px;
	border-top: 1px solid #565656 ; 
	border-right: 1px solid #565656 ;
	border-bottom: 1px solid #565656 ; 
	background-color: #b2b2b2 ;
	color: #2b3035 ; 
	white-space: nowrap ; 
	overflow: hidden; 
	text-overflow: ellipsis;
	text-align:left;
}
.table-grid-01 tbody tr:nth-child(even) td {
	background-color: #ffffff ;
}

.table-grid-01 tbody tr td:first-child {
	border-left: 1px solid #565656 ;
}

tr.tr-nodata { display:table-row; }
tr.tr-nodata.hidden { display:hidden ; }

.paging-wrap {
	width: 100%;
	padding: 10px 0;
	margin-top: 20px;
	border-top: 1px solid #b2b2b2 ;
}

/* homes 공통팝업 layout css */
.thumb-homes-common {
	width: 200px;
	height: 150px;
}
.thumb-homes-common-desc {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.thumb-homes-common.login {
	background: url(/images/homes/popup-login.png) center no-repeat;
	background-color: #ffffff;
	background-size: cover;
}

.thumb-homes-common.area-01 {
	background: url(/images/homes/popup-search-area-01.png) center no-repeat;
	background-color: #ffffff;
	background-size: cover;
}

.thumb-homes-common-link {
	width: 100%;
	padding-left:10px;
	font-size: 20px;
	line-height: 30px;
}

.thumb-homes-common-title {
	width: 100px;
	font-size: 20px;
	line-height: 30px;
	border-right: 1px solid var(--bs-border-color);
	font-weight: 600;
}

.thumb-homes-common-text {
	font-size: 20px;
	line-height: 30px;
	padding-left: 20px; 
}

/* 공통 CSS */ 
.pop-container {	
	min-height: 300px; 
	overflow: hidden ;
	padding: 0 ; 
	margin: 0 ; 
	background-color: var(--bs-body-bg);
	display: block;
	position:absolute;
	z-index: 1000;
	top: -9999px;
	left: -9999px; 
	border-radius: 15px  ;
	border: 1px solid var(--bs-border-color) ; 
}

.pop-cont-area {
	padding: 10px 0 ;
	overflow-x:hidden;
	overflow-y: auto;
	height:220px;
	display:flex; 
	flex-wrap: wrap;
	align-items: flex-start;
	align-content:flex-start;
	justify-content: flex-start;
}

.pop-cont-area button {
	min-width: 120px ;
	margin: 3px;
	margin-left: 0;
}
